<article id="home">
					<div>
						<h1>Soluções de Software para você e sua empresa</h1>
					<h3 class="services-title">Serviços</h3>
					<ul class="services">
						<li>Aplicativos Móveis</li>
						<li>Desenvolvimento de Sites dinâmicos e responsivos</li>
					</ul>
					</div>
				</article>