<head>
{%if page.title%}
<meta name="title" content="{{page.title}}"/>
<title>{{page.title}}</title>
{%endif%}
<meta name="description" content="{{site.description}}"/>
<link rel="stylesheet" href="{{ "/assets/pessoal.css" | relative_url }}"/>
</head>