@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 2 !default;

$spacing-unit:     30px !default;

//layout colors
$text-color:       #111 !default;
$background-color: #0cdbff !default;
$brand-color:      #200cff !default;
$link-color:	   #fdfdfd !default;
$visited-color:    darken($link-color, 20%);
$hover-color:      lighten($link-color, 20%);
$site-nav-color:   #9a0cff !default;
$nav-trigger-color: darken($site-nav-color, 5%) !default; 

$wrapper-color:    rgba(darken($background-color, 25%), 0.5);

$grey-color:       lighten($text-color, 5%) !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

//box
$shadow-color:     darken($background-color, 50%);
$shadow-blur:      2px;


//table settings
$table-text-align: left !default;
$border-width: 1px;

// Width of the content area
$content-width:    800px !default;
$aside-min-width:  200px !default;
@mixin aside-width{
	width: -webkit-calc(#{$aside-min-width + #{spacing-unit}});
	width: calc(#{$aside-min-width} + #{spacing-unit});
}

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "base",
  "layout",
  "syntax-highlighting"
;
