<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">

  {%- include head.html -%}

  <body>

    {%- include cabecalho.html -%}
<nav class="site-nav">
  {%for page in site.html_pages%}
  {%if page.url contains '/membros/'%}
  {%else%}
  <span class="nav-trigger">
    <a class="page-link" href="{{page.url | relative_url}}">
      {{page.title | escape}}
    </a>
  </span>
  {%endif%}
  {%endfor%}
</nav>
    <main class="page-content" aria-label="Content">
      <aside class="site-aside">
        <h2>Posts</h2>
        <ul class="post-list">
          {%for post in site.posts%}
            <li><a class="post-link" href="{{post.url | relative_url}}">{{post.title}}</a></li>
          {%endfor%}
        </ul>
      </aside>
      <div class="main-wrapper">
        <h1>
          {{page.title}}
        </h1>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>